<strong><span style="color:red">ВНИМАНИЕ!</span> Соответствие вводимых данных истинным – обязательно. При спорных ситуациях и перед участием игрока в финале игры необходимо будет предоставить документы подтверждающие личность.</strong>
<br/><br/>
<%= render 'form' %>