<div id="user_page">
	<%= render "user_info", :user => @user %>
	
	<br/><br/>
	======================<br/>
	
	<%= render 'shared/questions', :questions => @questions %>
	
	<br/><br/>
	<div><b>Образец для перевода ответа в цифровой код: </b></b><br/>
	<img src="/images/klava.jpg" ></img>
	</div>
</div>